<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form method="post">

        <table>

            <tr>
                <td>User Name : </td>
                <td>
                    <input type="text" placeholder="Enter User Name" name="user_name"> </td>
            </tr>
            <tr>
                <td>Full Name : </td>
                <td>
                    <input type="text" placeholder="Enter Full Name" name="full_name"> </td>
            </tr>
            <tr>
                <td> Email :</td>
                <td>
                    <input type="text" placeholder="Enter Email" name="user_email">
                </td>
            </tr>
            <tr>
                <td>Mobile :</td>
                <td>
                    <input type="text" placeholder="Enter your Mobile NO" name="user_mobile">
                </td>
            </tr>

            <tr>

                <td>
                    <input type="submit">
                    <input type="button" value="Display" onclick="window.location='display'">
                </td>
            </tr>
        </table>





    </form>
</body>

</html>