<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form method="post">

        <table>

            <tr>
                <td>First Name : </td>
                <td>
                    <input type="text" placeholder="Enter First Name" name="first_name"> </td>
            </tr>
            <tr>
                <td>Last Name : </td>
                <td>
                    <input type="text" placeholder="Enter Last Name" name="last_name"> </td>
            </tr>
            <tr>
                <td> Birth Date :</td>
                <td>
                    <input type="text" placeholder="Enter Birth Date" name="birth_date">
                </td>
            </tr>
            <tr>
                <td>Mobile :</td>
                <td>
                    <input type="text" placeholder="Enter your Mobile NO" name="user_mobile">
                </td>
            </tr>

            <tr>

                <td>
                    <input type="submit">
                    <input type="button" value="Display" onclick="window.location='display'">
                </td>
            </tr>
        </table>





    </form>
</body>

</html>