<form method="post">

    <table>

        <tr>
            <td>First Name : </td>
            <td>
                <input type="text" placeholder="Enter First Name" name="first_name" value="<%= users.first_name %>" required> </td>
        </tr>
        <tr>
            <td>Last Name : </td>
            <td>
                <input type="text" placeholder="Enter Last Name" name="last_name" value="<%= users.last_name %>" required> </td>
        </tr>
        <tr>
            <td> Birth Date :</td>
            <td>
                <input type="text" placeholder="Enter Email" name="birth_date" value="<%= users.birth_date %>" required>
            </td>
        </tr>
        <tr>
            <td>Mobile:</td>
            <td>
                <input type="text" placeholder="Enter Mobile" name="user_mobile" value="<%= users.user_mobile %>" required>
            </td>
        </tr>


        <tr>

            <td>
                <input type="submit">
                <input type="button" value="Display" onclick="window.location='display';">
            </td>
        </tr>
    </table>





</form>